* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f7f3;
  color: #222;
}

.title {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 35px 20px;
  background: #e8cea1;
  border-bottom: 1px solid #e5e2da;
}

.container {
  width: 88%;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.book-card {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  border: 1px solid #e7e4dc;
  text-align: center;
  transition: 0.3s;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.book-card img {
  width: 100%;
  height: 270px;
  object-fit: contain;
  margin-bottom: 20px;
}

.book-card h2 {
  font-family: Georgia, serif;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 14px;
  color: #222;
}

.book-card h3 {
  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #555;
}

.book-card p {
  font-size: 13px;
  color: #777;
  margin: 7px 0;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.buttons button {
  flex: 1;
  padding: 11px 8px;
  border: 1px solid #222;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.add-cart {
  background: #fff;
  color: #222;
}

.add-cart:hover {
  background: #222;
  color: #fff;
}

.buy-now {
  background: #222;
  color: #fff;
}

.buy-now:hover {
  background: #444;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    width: 85%;
  }

  .title {
    font-size: 26px;
    padding: 25px 15px;
  }

  .book-card img {
    height: 300px;
  }
}
.pen-card {
  background: #fff;
  padding: 20px;
  border: 1px solid #e7e4dc;
  text-align: center;
  transition: 0.3s;
}

.pen-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.pen-card img {
  width: 100%;
  height: 270px;
  object-fit: contain;
  margin-bottom: 20px;
}

.pen-card h2 {
  font-family: Georgia, serif;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 14px;
  color: #222;
}

.pen-card p {
  font-size: 14px;
  color: #777;
  margin: 8px 0;
}

.pen-buttons {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.pen-buttons button {
  flex: 1;
  padding: 11px 8px;
  border: 1px solid #222;
  font-size: 12px;
  cursor: pointer;
}

.pen-buttons .add-cart {
  background: #fff;
  color: #222;
}

.pen-buttons .buy-now {
  background: #222;
  color: #fff;
}

.pen-buttons .add-cart:hover {
  background: #222;
  color: #fff;
}

.pen-buttons .buy-now:hover {
  background: #444;
}